h1, h2, h3, h4, h5 {
  margin: 15px 0px !important;
}

body {
  font: .8em/1.5 Helvetica;
  background-color: #ffffff;
  color: #333;
  margin: 0 auto;
  max-width: 850px !important;
  padding: 20px;
}


.published {
  padding-right: 5px;
  padding-left: 5px;
  border-radius: 20px;
  line-height: 1.6;
  background-color: #ffdad5
}

header {
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

header p {
  padding: 0;
}

h1 {
  font-size: 2.5em;
  margin-right: 20px;
}

h2 {
  font-size: 1.75em;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.5em;
  margin-bottom: 10px;
}


.slanted {
  font-style: italic;
}

a {
  color: #EA4335;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul li {
  list-style-position: inside;
  margin-top: 10px;
}

img, video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  /* height: 100%; */
  object-fit: contain; /* Crop and cover the container */
  /* object-position: 50% 20%; Center the image in the container */
  box-sizing: border-box;
  border-radius: 5px;
}

video {
  padding: 2px;
  object-position: 50% 50%;
}

.columns {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  grid-gap: 50px; /* Add space between grid items */
  padding: 10px 0px 10px 0px;
  align-items: center;
}

.vertical-center {
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.rows {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1px; /* Add space between grid items */
  padding: 10px 0px 10px 0px;
}

.video-container {
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Crop and cover the container */
  border: 1px solid #eee;
  border-radius: 5px;
}

.video-container:hover {
  border: 1px solid #1646e3;
}

@media (max-width: 600px) {
  .columns {
      display: block;
      margin-bottom: 20px;
  }
  img {
      margin-bottom: 20px;
      height: 70vw;
  }
  .video-container {
      margin-bottom: 20px;
  }
}

footer {
  font-size: 0.8em;
  margin-top: 20px;
}

font {
  color: #7f7f7f
}